services:
  smoothbot:
    build:
      target: deps
    command: pnpm dev
    volumes:
      - .:/app
      - /app/node_modules
      - ${SMOOTHBOT_DATA_DIR:-./docker/smoothbot}:/smoothbot
    environment:
      - NODE_ENV=development
      - HOME=/smoothbot/home
      - SMOOTHBOT_DB_KEY=${SMOOTHBOT_DB_KEY}
      - SMOOTHBOT_UID=${SMOOTHBOT_UID:-1000}
      - SMOOTHBOT_GID=${SMOOTHBOT_GID:-1000}

  searxng:
    profiles: [search]
    ports:
      - "8080:8080"
